@font-face {
    font-family: 'BMDOHYEON';
    src: url(public/fonts/BMDOHYEON.ttf) format('truetype');
}

body {
    margin: 0;
}

.logoTitle {
    width: 100%;
}

.imageWrapper {
    background: url(public/images/main_image.gif) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.title {
    position: fixed;
    top: 120px;
    right: 30px;
    font-family: BMDOHYEON;
    font-size: 40px;
    color: white
}

.desc {
    font-size: 12px;
    text-align: right;
    position: fixed;
    top: 190px;
    right: 30px;
    font-family: Arial;
    color: #ffffff;
}

.me {
    text-align: right;
    position: fixed;
    top: 260px;
    right: 30px;
    font-family: Arial;
    color: #ffffff;
}

.loginForm {
    width: 100%;
    height: auto;
    padding: 3% 5% 3% 5%;
}

.id, .pw {
    padding: 2%;
    width: 49%;
    display: inline-block;
}

.loginBtnWrapper {

    width: 100%;
}

.input {
    width: 100%;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #424242;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #424242;
    box-shadow: 0 1px 0 0 #424242;
}

#loginBtn {
    width: 100%;
}

.listWrapper {
    width: 100%;
    height: auto;
    padding: 1% 1% 0 1%;
}

.listDesc {
    font-family: BMDOHYEON;
    padding: 2% 0 0 4%;
}

.lectureListWrapper, .fileListWrapper {
    display: inline-block;
    width: 49.6%;
}

.lecture {
    color: #424242;
}

.collection {
    height: 230px;
    overflow-y: scroll;
}

.noChapter, .selectChapter {
    margin-top: 100px;
    text-align: center;
    font-family: BMDOHYEON;
    font-size: 16px;
    color: #424242;
}

.downloadAll {
    position: fixed;
    right: 25px;
    bottom: 40px;
}

.loadingLayer {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index:999;
}


#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -60px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

#loadingText {
    position: fixed;
    font-size: 20px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    top: 55%;
    font-family: BMDOHYEON;
    color: white;
}

#logout {
    position: fixed;
    font-size: 18px;
    left: 20px;
    top: 20px;
    cursor: pointer;
    font-family: BMDOHYEON;
    width: 200px;
    color: white;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}